/* BUTTONS -------------*/
.btn {
	display: inline-block;
	height: 34px;
	padding: 0 15px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 32px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	white-space: nowrap;
	&:hover, &:focus, &:active {
		outline: none;
		background: $red;
		color: white;
		border-color: $red;
	}
	/* Buttons Sizes */
	&__small {
		height: 32px;
		line-height: 31px;
		padding: 0px 14px;
		letter-spacing: normal;
	}
	&__sm {
		height: 36px;
		padding: 0 5px;
		line-height: 34px;
		letter-spacing: normal;
		font-weight: 600;
		.ai {
			margin-right: 3px;
			font-weight: 400;
			@media screen and(min-width: 1080px) {
				margin-right: 5px;
			}
			&-next {
				font-size: 11px;
			}
			&-download {
				top: 3px;
				font-size: 18px;
			}
		}
	}
	&__middle {
		height: 40px;
		padding: 0 12px;
		font-size: 14px;
		line-height: 39px;
		.ai-next {
			font-size: 11px;
		}
	}
	&__big {
		height: 46px;
		padding: 0 17px;
		font-size: 14px;
		font-weight: 600;
		line-height: 46px;
		letter-spacing: normal;
		.ai {
			margin-right: 5px;
			&-next {
				font-size: 13px;
			}
			&-bookmark {
				top: 6px;
				font-size: 27px;
			}
			&-like__empty, &-liked {
				top: 6px;
				font-size: 28px;
			}
			&-alert {
				top: 7px;
				font-size: 26px;
			}
		}
	}
	/* Buttons Colors */
	&__gray {
		background: $gray-btn;
		color: $gray-btn-text;
		border-color: $gray-btn;
	}
	&__red {
		background: $red;
		color: $white;
		border-color: $red;
	}
	&__green {
		background: $green;
		color: white;
		border-color: $green;
	}
	&__black {
		background: black;
		color: white;
		border-color: black;
	}
	&__soft-black {
		background: $black-aside-title;
		color: white;
		border-color: $black-aside-title;
	}
	&__d-gray {
		background: #c0bfbf;
		color: white;
		border-color: #c0bfbf;
	}
	&__more {
		width: 149px;
		padding: 0;
		.ai-next {
			font-size: 11px;
			line-height: 32px;
		}
	}
	&__subscribe {
		padding: 0;
		.ai-next {
			font-size: 11px;
		}
	}
	&__login, &__reg, &__reg-display {
		@extend .clearfix;
		position: relative;
		display: block;
		float: left;
		letter-spacing: 1px;
	}
	&__login, &__reg, &__reg-display {
		.ai {
			display: block;
			float: left;
			position: relative;
			left: -2px;
			margin-right: 5px;
			line-height: 38px;
		}
	}
	&__login {
		margin-right: 6px;
		width: 38%;
	}
	&__reg {
		width: 100%;
	}
	&__reg-display {
		width: 60%;
	}
	&__login-display {
		color: $black-aside-title;
		&:hover, &:focus {
			color: $red;
		}
	}
	&__bookmark, &__like {
		&:hover, &.active {
			background: $green;
			border-color: $green;
		}
	}
	&__like {
		&:hover, &.active {
			.ai:before {
				content:'q';
			}
		}
	}
	&__error {
		&:hover, &.active {
			background: $yellow;
			border-color: $yellow;
		}
	}
	.ai {
		text-transform: none;
	}
}
/* BUTTONS END -------------*/