/* FOOTER -------------*/
.main-footer {
	background: $black-footer;
	&__wrapper {
		@extend .clearfix;
	}
	&__wrapper {
		padding: (30/1240)*100%;
		@media screen and(min-width: 1180px) {
			padding: $mf-wrap-p;
		}
	}
	&__item {
		position: relative;
		&__title {
			margin-bottom: 22px;
			color: #FFF;
			text-transform: uppercase;
		}
		p {
			margin-bottom: 18px;
			font-size: em(13,14);
			color: #D7D3D3;
			letter-spacing: 0.025em;
		}
	}
	&__news-subscribe {
		@extend .clearfix;
		float: left;
		width: 100%;
		padding-top: 30px;
		margin-top: 30px;
		text-align: center;
		border-top: 1px solid #F3F3F3;
		@media screen and(min-width: 1180px) {
			width: $ns-w;
			padding-top: 0;
			margin-top: 0;
			margin-bottom: 30px;
			border-top: none;
			text-align: left;
		}
	}
	&__sub-menu {
		padding: $sm-p;
		&-wrapper {
			width: 100%;
			@media screen and(min-width: 1180px) {
				width: $sm-w;
			}
			float: right;
			@include display(flex);
			@include justify-content(space-between);
		}
		&__list {
			margin: -7px 0 0;
			padding: 0;
			list-style: none;
			&__item {
				a {
					display: inline-block;
					position: relative;
					padding: 7px 28px 10px 28px;
					color: #FFF;
					&:before {
						content: 'h';
						display: block;
						@include position(absolute, 10px null null 8px);
						font-family: 'aiFont';
						font-size: em(11,14);
					}
					&:hover {
						background: $red;
					}
				}
			}
		}

	}
}
.subscribe-form {
	margin-bottom: (30/1210)*100%;
	.form-group {
		display: inline-block;
	}
	.form-control, .btn {
		float: left;
	}
	.form-control {
		width: 450px;
		height: 40px;
		padding: 0px 15px;
		font-size: em(13,14);
		line-height: em(17,13);
	}
	.btn {
		width: 140px;
	}
	@media screen and(min-width: 1180px) {
		max-width: 280px;
		margin-bottom: (30/280)*100%;
		.form-group {
			display: block;
		}
		.form-control, .btn {
			width: 50%;
		}
	}
}
.socials-list {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	&__item {
		display: block;
		float: left;
		@include size(28px 29px);
		margin-right: 9px;
		a {
			display: block;
			@include size(100%);
			background: url('../img/social.png');
		}
		&__twitter a {
			background-position: 0 0;
			&:hover {
				background-position: 0 bottom;
			}
		}
		&__facebook a {
			background-position: right 0;
			&:hover {
				background-position: right bottom;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
	@media screen and(min-width: 1180px) {
		display: block;
	}
}
/* FOOTER END -------------*/