/* HEADER -------------*/
.fixed-header {
	@include position(fixed, 0px null null);
	width: 100%;
	background: white;
	box-shadow: 1px 1.7px 0 rgba(3, 3, 3, 0.1);
	z-index: 1000;
	&__logo, &__burger, &__navigation, &__right-icon {
		float: left;
		position: relative;
	}
	&__logo {
		width: $logo-w;
		padding: $logo-p
	}
	&__navigation, &__burger, &__right-icon {
		height: 0;
		padding-top: $icon-h;
	}
	&__navigation {
		width: $nav-w;
	}
	&__burger, &__right-icon {
		width: $icon-w;
		.icon-link {
			position: absolute;
			top: 0;
			bottom: 0;
		}
	}
	&__burger, &__right-icon:last-child {
		width: $icon-burger-width;
		border-right: 1px solid $gray-side-item;
	}
}
.logo {
	display: inline-block;
	width: 100%;
	height: 0px;
	padding-top: $logo-h;
	vertical-align: middle;
	background: url('../img/animedia-logo.png') no-repeat;
	background-size: 100% auto;
}
.icon-link {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	width: 100%;
	border-left: 1px solid $gray-side-item;
	&:before {
		content: '';
		display: inline-block;
		@include size(25px 24px);
		background: url('../img/menu-dropdown-s.png');
	}
	&:hover, &:focus, &.active {
		background-color: $red;
	}
	&__burger{
		&:before  {
			background-position: 0 0;
		}
		&:hover:before, &:focus:before, &.active:before {
			background-position: 0 bottom;
		}
	}
	&__share {
		&:before {
			background-position: -25px 0;
		}
		&:hover:before, &:focus:before, &.active:before {
			background-position: -25px bottom;
		}
	}
	
	&__search {
		&:before  {
			background-position: -50px 0;
		}
		&:hover:before, &:focus:before, &.active:before {
			background-position: -50px bottom;
		}
	}
	&__profile {
		&:before  {
			background-position: -75px 0;
		}
		&:hover:before, &:focus:before, &.active:before {
			background-position: -75px bottom;
		}
	}
}
.header-menu {
	@include display(flex);
	@include position(absolute, 1px null 0);
	width: 100%;
	margin: 0;
	padding-top: 0;
	list-style: none;
	&__item {
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
		@include flex-grow(1);
		font-family: 'bebasNeue', sans-serif;
		font-size: em(20,14);
		color: $gray-header-menu;
		text-align: center;
		text-transform: uppercase;
		&:first-child {
			padding-left: $nav-li-p;
		}
		&:last-child {
			padding-right: $nav-li-p;
		}
		&:hover, &:focus, &.active {
			color: $red;
		}
	}
}
/* HEADER END -------------*/