- var breadcrumbs = ['Главная', 'Аниме', 'ТВ-сериалы'];
// Breadcrumbs
.breadcrumbs
	ul.breadcrumbs__list
		each item in breadcrumbs
			li.breadcrumbs__list__item
				a(href="#" title=item)=item
		li.breadcrumbs__list__item
			span Код Гиасс: Изгнанник Акито
// Breadcrumbs End