<div class="content-comments" id="comments-widget">
	<div class="content-comments-title">Комментарии
		<div class="content-comments-count">3</div>
	</div>

	<div class="content-comments-list">
		<ul>
			<li class="row comment lvl-0" id="comment-180" data-parent="0">
				<div class="content-comment-item-wrapper">
					<div class="content-comment-item-body">
						<div class="content-comment-item-info">
							<a href="#" class="content-comment-item-info-name">WhItE DoG</a>
							<span class="content-comment-item-info-delimiter">/</span>
							<span class="content-comment-item-info-date">13.02.2015 02:36:01</span>
							<span class="content-comment-item-info-delimiter">/</span>
							<a class="content-comment-item-info-reply" href="#" data-name="WhItE DoG" ></a>
							<a class="content-comment-item-info-quote" href="#" data-name="WhItE DoG" data-created="13.02.2015 02:36:01"data-created="13.02.2015 02:36:01"></a>
						</div>
						<div class="content-comment-item-message">
							<p>:) как я тебя понимаю ;)</p>
						</div>
					</div>
				</div>

				<div class="content-comment-item-avatar">
					<img src="img/comments/original1.png" alt="">
				</div>
				<div class="content-comment-item-clear"></div>
			</li>


			<li class="row comment lvl-0" id="comment-181" data-parent="0">
				<div class="content-comment-item-wrapper">
					<div class="content-comment-item-body">
						<div class="content-comment-item-info">
							<a href="#" class="content-comment-item-info-name">DanteChernichka</a>
							<span class="content-comment-item-info-delimiter">/</span>
							<span class="content-comment-item-info-date">13.02.2015 19:43:10</span>
							<span class="content-comment-item-info-delimiter">/</span>
							<a class="content-comment-item-info-reply" href="#" data-name="DanteChernichka" ></a>
							<a class="content-comment-item-info-quote" href="#" data-name="DanteChernichka" data-created="13.02.2015 19:43:10"data-created="13.02.2015 19:43:10"></a>
						</div>
						<div class="content-comment-item-message">
							<p>Ляпы всегда получаются смешными)P.S. на картинке вместо freya_dub_2 написано feya_dub_2 )</p>
						</div>
					</div>
				</div>

				<div class="content-comment-item-avatar">
					<img src="img/comments/original2.png" alt="">
				</div>

				<div class="content-comment-item-clear"></div>
			</li>

			<li class="row comment lvl-0" id="comment-182" data-parent="0">
				<div class="content-comment-item-wrapper">
					<div class="content-comment-item-body">
						<div class="content-comment-item-info">
							<a href="#" class="content-comment-item-info-name">WhItE DoG</a>
							<span class="content-comment-item-info-delimiter">/</span>
							<span class="content-comment-item-info-date">15.02.2015 08:38:40</span>
							<span class="content-comment-item-info-delimiter">/</span>
							<a class="content-comment-item-info-reply" href="#" data-name="WhItE DoG" ></a>
							<a class="content-comment-item-info-quote" href="#" data-name="WhItE DoG" data-created="15.02.2015 08:38:40"data-created="15.02.2015 08:38:40"></a>
						</div>
						<div class="content-comment-item-message">
							<p>это точно, особенно если это телевидение или как у нас на телерадиостудии при записи, как говориться животик можно надорвать от смеха :)</p>
						</div>
					</div>
				</div>

				<div class="content-comment-item-avatar">
					<img src="img/comments/original1.png" alt="">
				</div>

				<div class="content-comment-item-clear"></div>
			</li>
		</ul>
		<div class="clear"></div>

		<div class="content-comments-title content-comments-title-add">Написать комментарий</div>
		<form id="comment-form" action="/blogs/comments" method="post">
			<input type="hidden" name="_csrf" value="ZWVVN3E5bVQ9LGN0JFBVBzoDDHQ5ThgOFFw3RCdXOiFILBJVEHoIbQ==">
			<div class="form-group">
				<div class="form-group field-comments-content required">
					<div class="redactor-box">
						<ul class="redactor-toolbar" id="redactor-toolbar-0" style="position: relative; width: auto; top: 0px; left: 0px; visibility: visible;">
							<li><a href="#" class="re-icon re-formatting" rel="formatting" tabindex="-1"></a></li>
							<li><a href="#" class="re-icon re-bold" rel="bold" tabindex="-1"></a></li>
							<li><a href="#" class="re-icon re-italic" rel="italic" tabindex="-1"></a></li>
							<li><a href="#" class="re-icon re-deleted" rel="deleted" tabindex="-1"></a></li>
						</ul>
						<div class="redactor-editor" contenteditable="true" dir="ltr" style="min-height: 200px;"><p>&#8203;</p></div><textarea id="comments-content" name="Comments[content]" dir="ltr" style="display: none;"></textarea></div>
					<div class="help-block"></div>
				</div>
			</div>
			<input type="hidden" id="comments-model_id" name="Comments[model_id]" value="195">
			<input type="hidden" id="comments-url" name="Comments[url]" value="/blogs/voicers/freya/post/195">
			<input type="hidden" id="comments-parent_id" name="Comments[parent_id]">
			<input type="hidden" id="comment-level" name="level">
			<button type="submit" class="button"><span class="button-icon-arrow"></span>Отправить</button>
		</form>
		<!-- уведомление о регистрации -->
		<div class="alert alert-yellow">
			<button class="close">&times;</button>
			<a href="#" id="top-login-signup" class="icon-dropdown" data-target="profile">Зарегистрируйся</a> или <a href="#" class="icon-dropdown" id="top-login-block-login" data-target="profile">войди</a> и тогда вы сможете оставлять комментарии.
		</div>
		<!-- конец -  уведомление о регистрации -->
	</div>
</div>
