// Copyright
.copyright
	.container
		.copyright__wrapper
			.copyright__left-col (C) Copyright "Animedia.TV" 2015
			.copyright__right-col
				a.tsumi-link(href="http://tsumi.ru" title="Design by Tsumi")
// Copyright