-var menuItems = ['Новости', 'Блоги', 'Трекер', 'Форум' ]
// Header
header.fixed-header
	.container
		.fixed-header__logo
			a.logo(href="#" title="AnimediaTV Online")
		.fixed-header__burger
			a.icon-link.icon-link__burger(href="#")
		.fixed-header__navigation
			nav.header-menu
				for item in menuItems
					a.header-menu__item(href="#" title=item )= item
		.fixed-header__right-icon
			a.icon-link.icon-link__share(href="#")
		.fixed-header__right-icon
			a.icon-link.icon-link__search(href="#")
		.fixed-header__right-icon
			a.icon-link.icon-link__profile(href="#")
// Header end