// Media post
article.media__post
	.media__post__header
		h1.media__post__title Код Гиасс: Изгнанник Акито
		.media__post__original-title Code Geass: Boukoku no Akito
		.media__post__pegi.pegi 16
	.media__panel.media__panel__gray
		.media__post__body
			p В старинной и престижной частной академии Хаконива большое событие – новым, 98-м президентом Школьного совета стала 16-летняя Мэдака Куроками. А как иначе? Претендентка только поступила в старшую школу, но выиграла выборы с колоссальным перевесом, ибо гениальна во всем – от учебы до любого спорта или искусства. Сразу же после избрания Мэдака установила знаменитый ящик своего имени и предложила любому школьнику высказывать пожелания – она постарается их выполнить, даже если придется работать 24 часа в сутки. И вот, взяв в помощники друга детства Дзэнкити Хитоёси, новый президент засучила рукава и принялась за дело, пока что не зная неудач…
			p Вот только Хаконива – школа необычная, талантов и гениев в ней хватает, и у многих возник логичный вопроа зачем Куроками это нужно? Все ли нормально с головой у девушки, вообразившей себя гибридом богини и матери Терезы, чье самомнение выше местной Часовой Башни? Ведь девиз умного человека «живи и дай жить другим», а тут кое-кто носится, как слон в посудной лавке, и может помешать очень серьезным делам. Пришлось Мэдаке осознать, что ее ящик разросся до размеров школы, и скорпионы в ящике еще те… самой бы кто помог.
		.media__post__info
			.col-l
				.releases-date Дата выпуска: 
					span с 05.04.2012
				.genre-tags Жанр: 
					each item in ['комедия', 'приключения', 'нудное фуфло']
						a(href="#" title=item)= item
				.director Режиссер: 
					a(href="#" title="Режиссер - Саэки Сёдзи") Саэки Сёдзи
			.col-l
				.released Уже вышло: 
					span 4 сезона по 12 серий, 2 ОВЫ, 
						a(href="#") 4 фильма
				.studio Студия: 
					a(href="#" title="Студия - GAINAX") GAINAX
//Media post End