-var ss = 15;
// Media screenshots
.media__sshots
	h3.media__sshots__title Скриншоты
	ul.media__sshots__list
		while ss < 20
			li.media__sshots__list__item
				a(href="#" title="Увеличить")
					img(src="img/posters/w-176/img-176x241_"+ ss++ +".jpg", alt="screenshot")
// Media screenshots End