// Media sub information
.media__sub__info
	.media__panel.media__panel__gray
		.media__bnts
			a.btn.btn__red.btn__big.btn__play-first(href="#")
				i.ai.ai-next
				|  Смотреть с 1 серии
			a.btn.btn__d-gray.btn__big.btn__bookmark(href="#")
				i.ai.ai-bookmark
				|  В закладки
			a.btn.btn__d-gray.btn__big.btn__like(href="#")
				i.ai.ai-like__empty
				|  Мне нравится!
			a.btn.btn__d-gray.btn__big.btn__error(href="#")
				i.ai.ai-alert
				|  Нашел ошибку?
		.media__sub__info__text * Все релизы на трекере могут содержать эротические сцены, ненормативную лексику и сцены насилия. По-умолчанию ограничение по возрасту 16+.<br>Пользователи младше указанной возрастной категории могут просматривать релизы на свой страх и риск, либо под присмотром родителей.
// Media sub information End