// Media
.media
	include ../blocks/_media-post
	include ../blocks/_media-screenshots
	include ../blocks/_media-sub-info
	include ../blocks/_media-tabs
	// Big banner
	.big-banner
		.big-banner__item
	.clearfix
	include ../blocks/_media-related
// Media End