- var i = 0
- var n = 0
// New films scroller
.new-films-scroller
	.scroller
		.scroller__items-wrapper
			while i < 6
				a.scroller__item(href="#" title="atr title")
					img(src="img/scroller/scroller-img_"+ i++ +".jpg" alt="img-"+ n++ +"")
		a.scroller__control.prev(href="#")
			i.ai.ai-prev
		a.scroller__control.next(href="#")
			i.ai.ai-next
// New films scroller