// Pay block
.pay-block
	.container
		ul
			li.first
				p Помоги проекту
			li.pay-mastercard
				a.open-popup-link(href="#pay-block-mastercard" class="fancybox")
					span <img src="img/pay/mastercard.svg">
				#pay-block-mastercard.pay-block-info.white-popup.mfp-hide
					h3.content-information-top-title VISA
					p Банк: Сбербанк РФ
					p Получатель: Денис Игоревич П.
					p 4276 3800 8348 1221
			li.pay-visa
				a.open-popup-link(href="#pay-block-visa" class="fancybox")
					span <img src="img/pay/visa.svg">
				#pay-block-visa.pay-block-info.white-popup.mfp-hide
					h3.content-information-top-title VISA
					p Банк: Сбербанк РФ
					p Получатель: Денис Игоревич П.
					p 4276 3800 8348 1221
			li
				a.open-popup-link(class="fancybox" href="#pay-block-sberbank")
					span <img src="img/pay/sberbank.svg">
				#pay-block-sberbank.pay-block-info.white-popup.mfp-hide
					h3.content-information-top-title СБЕРБАНК VISA
					p 4276 3800 8348 1221
			li
				a.open-popup-link(class="fancybox" href="#pay-block-webmoney")
					span <img src="img/pay/webmoney.svg">
				#pay-block-webmoney.pay-block-info.white-popup.mfp-hide
					h3.content-information-top-title WebMoney
					p R288066956765
					p Z750713968661
					p U839968842628
					p E324450170532
			li
				a.open-popup-link(class="fancybox" href="#pay-block-yamoney")
					span <img src="img/pay/yandexmoney.svg">
				#pay-block-yamoney.pay-block-info.white-popup.mfp-hide
					h3.content-information-top-title ЯНДЕКС.ДЕНЬГИ
					p 41001280121097
			li.last
				a.open-popup-link(class="fancybox" href="#pay-block-qiwi")
					span <img src="img/pay/qiwi.svg">
				#pay-block-qiwi.pay-block-info.white-popup.mfp-hide
					h3.content-information-top-title QIWI WALLET
					p 915-450-5175
// Pay block End