// Primary ad
.primary-ad
	// Primary ad player
	.primary-ad__player
		img.primary-ad__player__thumb(src="img/primary-ad/primary-ad-thumb.jpg", alt="primary ad")
		//- .primary-ad__player__overlay
		//- 	.primary-ad__player__overlay__counters
		//- 		a.counter.comments-counter(href="#")
		//- 			i.ai.ai-comment  1153
		//- 		a.counter.views-counter(href="#")
		//- 			i.ai.ai-eye  12814
		//- 		a.counter.likes-counter(href="#")
		//- 			i.ai.ai-like__full  9716
		//- 	.primary-ad__player__overlay__controls
		//- 		a.like-ad(href="#")
		//- 			i.ai.ai-like__stroke  Мне нравиться
		//- 		a.favorite-ad(href="#")
		//- 			i.ai.ai-star__stroke  В закладки
	// Primary ad article
	article.primary-ad__article
		h2.primary-ad__article__title
			a(href="#" title="Гроб принцессы Чайки 2") Гроб принцессы Чайки 2
			span  ( Серия 8 из 12 )
		.primary-ad__article__description
			span.original-title Hitsugi no Chaika TV-2
			|   |  
			span.genre-tags Жанр: 
				a(href="#") приключения
				a(href="#") комедия
		.primary-ad__article__excerpt
			p В прошлом существовала империя Газу. Империя обладала беспрецедентной силой, но говорят что это была не сила империи, а сила ее императора, Артура Газу. Он занимался передовыми исследованиями в области магии, плоды которых используются и поныне и в течение трехсот лет держал весь континент под своим контролем. Однако, в итоге он был побежден и его тело было разделено на множество частей ставших могущественными магическими артефактами. Каждый из участвующих в битве героев получил по одной части тела побежденного. Хотя империя Газу была уничтожена и на континенте был достигнут мир, влияние империи все еще велико. По миру все еще рассеяны сторонники Газу, а некоторые даже поклоняются дочери Артура, Чайке Трабант надеясь возродить империю. И хотя война и окончилась, многие люди продолжают работать на военную машину.
// Primary ad End