// Promo
.promo
	.container
		.promo__wrapper
			.promo__visible-section
				.promo__parallax__layer.layer-0
				.promo__parallax__layer.layer-1
					.promo__video
						img(src="img/promo/promo-video.png", alt="promo-video")
				.promo__parallax__layer.layer-2
				.promo__parallax__layer.layer-3
				.promo__parallax__layer.layer-4
				.promo__parallax__layer.layer-5
				.promo__parallax__layer.layer-6
				.promo__parallax__layer.layer-7
					a.promo__video__link(href="#" title="Смотреть онлайн Токийский Гуль А")
						i.ai.ai-play
// Promo End