// Statistic counters
.stats-counters
	.container
		.stats-counters__list
			// stats counters item
			.stats-counters__item
				.stats-counters__item__text Пользователей на проекте
				.stats-counters__item__number 948 317
			// stats counters item
			.stats-counters__item
				.stats-counters__item__text Пользователей на проекте
				.stats-counters__item__number 2 817
			// stats counters item
			.stats-counters__item
				.stats-counters__item__text Пользователей на проекте
				.stats-counters__item__number 72 431
			// stats counters item
			.stats-counters__item
				.stats-counters__item__text Пользователей на проекте
				.stats-counters__item__number 1 843 519
// Statistic couners End