// Post info widget
.widget
	.widget__post-info
		.widget__post-info__poster
			a.zoomLink(href="img/posters/w-280/img_2.jpg")
				img(src="img/posters/w-280/img_2.jpg", alt="codeGeassPoster")
		.widget__post-info__rating
			.post-rating
				input(type="hidden" class="rating" data-filled="ai ai-star__full" data-empty="ai ai-star__stroke" data-fractions="2" value="3.5")
		.widget__post-info__btns
			a.btn.btn__big.btn__red.btn__play-first(href="#")
				i.ai.ai-next
				|  Смотреть с 1 серии
			a.btn.btn__big.btn__green.btn__dowload-torrent(href="#")
				i.ai.ai-download
				|  Скачать торрент
			a.btn.btn__big.btn__soft-black.btn__watch-trailer(href="#")
				i.ai.ai-video
				|  Смотреть трейлер
		.widget__post-info__voicers
			.h3.widget__post-info__voicers__title Релиз озвучивали:
			ul.widget__post-info__voicers__links
				li.widget__post-info__voicers__links__item: a(href="#" title="Ещё аниме с Revi Kim") Revi Kim
				li.widget__post-info__voicers__links__item: a(href="#" title="Ещё аниме с Mirona") Mirona
				li.widget__post-info__voicers__links__item: a(href="#" title="Ещё аниме с Azon") Azon
		.widget__post-info__voicers.alternative
			.widget__post-info__voicers__title Альтернативное озвучивание:
			ul.widget__post-info__voicers__links
				li.widget__post-info__voicers__links__item: a(href="#" title="Ещё аниме с Freya") Freya
				li.widget__post-info__voicers__links__item: a(href="#" title="Ещё аниме с Nazel") Nazel
// Post info widget End