-var mp = 0;
-var mpObj = [ ['Гроб принцессы Чайки 2', '9.8', ['фантастика','приключения'] ], ['Психопасс 2', '9.7', ['фантастика','драма','детектив'] ], ['Ежемесячное сёдзе Нозаки-куна', '9.5', ['комедия','повседневность'] ], ['Мастера меча онлайн 2', '9.4', ['фантастика','приключения'] ], ['Как воспитать из обычной девушки героиню', '9.1', ['комедия','повседневность'] ], ['Железнодорожные войны', '8.7', ['приключения','военный'] ], ['Убийца Акаме', '8.6', ['приключения','драма'] ], ['Класс Убийц', '7.9', ['фантастика','комедия','школа'] ], ['Терраформеры', '7.1', ['фантастика','драма'] ], ['Тэнчи навсегда', '6.8', ['фантастика','комедия','гарем'] ]];
// Most popular widget
.widget
	.h2.widget__title Самое популярное
	.widget__most-popular
		while mp < 10
			// Most popular widget item
			.widget__most-popular__item
				a.h4.widget__most-popular__item__title(href="#" title=mpObj[mp++][0] )= mpObj[mp-1][0]
				.genre-tags
					for item in mpObj[mp-1][2]
						a(href="#" title=item)= item
				.widget__most-popular__item__rating= mpObj[mp-1][1]
// Most popular widget End