- var ln = 0;
- var lnObj = [ ['Продолжение всё-же будет?', ['Игровые новости','Playstation 3'] ], ['Они идут! Правда или вымысел?', ['Аниме-новости','Околоанимешные новости'] ], ['Невиданный цветок теперь на 3d-принтах', ['Аниме-новости','Околоанимешные новости'] ] ]

// Last news widget
.widget
	.h3.widget__title Последние новости
	.widget__last-news
		while ln < 3
			// Last news widget item
			.widget__last-news__item.widget__item
				a.widget__last-news__item__thumb(href="#" title=lnObj[ln][0])
					img(src="img/w-last-news/img-"+ ln++ +".jpg", alt="last-news_thumb_"+ [ln-1] +"")
				.widget__last-news__categories
					for item in lnObj[ln-1][1]
						.widget__last-news__categories__link
							a(href="#" title=item)= item
				a.h4.widget__last-news__item__title(href="#" title=lnObj[ln-1][0])= title=lnObj[ln-1][0]
// Last news widget End