extends ../layout.jade

block title
	title Post | AnimediaTV Online

block body
	body.post-page

		include ../blocks/_header
		include ../blocks/_promo
		// Main container
		.container
			.main-container
				include ../blocks/_list-main-menu
				include ../blocks/_search-panel
				include ../blocks/_post-player
				// Content container
				.content-container
					// Content. Left block
					.content
						include ../blocks/_breadcrumbs
						include ../blocks/_media
					// Content. Left block End
					// Right sidebar
					aside.right-sidebar
						// Aside banner
						.aside-banner
						include ../blocks/_widget-new-series
						// Aside banner
						.aside-banner
						include ../blocks/_widget-last-news
					// Right sidebar End
		// Main container End
		include ../blocks/_finished-releases
		include ../blocks/_pay-block
		include ../blocks/_statistic-counters
		include ../blocks/_footer
		include ../blocks/_copyrights
		include ../blocks/_scripts