/* TYPOGRAPHY -------------*/
h1, 
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	margin: 0;
	font-family: 'leagueGothic', sans-serif;
	line-height: 1;
	color: $black;
	font-weight: normal;
}
h1,
.h1 {
	font-size: em(44,14);
	text-transform: uppercase;
	color: $black-aside-title;
}
h2,
.h2 {
	font-size: em(36,14);
}
h3,
.h3 {
	font-size: em(30,14);
}
h4,
.h4 {
	font-size: em(24,14);
}
h5,
.h5 {
	font-size: em(20,14);
}
p {
	margin: 0px 0px 15px;
}
.original-title, .genre-tags, .genre-tags a:after, .sort-list a {
	color: $gray-second;
	letter-spacing: -0.001em;
}
.genre-tags {
	a {
		margin-right: 7px;
		color: $mutedred;
		&:hover {
			text-decoration: underline;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
.genre-tags a, .sort-list__item {
	&:after {
		content: ', ';
		position: absolute;
	}
	&:last-child:after {
		content: '';
	}
}

.ellipsis {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* TYPOGRAPHY END -------------*/