//Continer
$c-w: 1240;

//-- Colors
$red: #E70C2F;
$mutedred: #FF0000;
$gray-primary: #898989;
$gray-second: #AFAEAE;

$gray-header-menu: #AEADAD;
$gray-header-icon: #C9C9C9;

$promobg: #14120F;

$gray-side: #F5F5F5;
$gray-side-item: #EDEDED;
$gray-side-text: #9D9C9C;
$gray-btn: #E8E7E7;
$gray-btn-text: #A2A2A2;
$black-title: #191919;
$black-iside-title: #292929;
$green: #69A935;

// Header 
// -- layout
$logo-w: (202/$c-w)*100%;
$logo-h: (48/174)*100%;
$logo-p: (13/$c-w)*100% (28/$c-w)*100% 0 0;

$icon-w: (72/$c-w)*100%;
$icon-h: (74/$c-w)*100%;
$icon-burger-width: (73/$c-w)*100%;

$nav-w: (748/$c-w)*100%;
$nav-p: $icon-h;
$nav-ul-p: 2px;
$nav-li-p: (26/748)*100%;

// -- icons padding
$burger-p: (3/75)*100%;
$share-p: (5/75)*100%;
$search-p: (5/75)*100%;
$profile-p: (3/75)*100%;

// Promo
// -- layout
$promo-h: (1135/$c-w)*100%;
$promo-visible-h: (475/1135)*100%;

// -- layers
$layer-0-w: (423/$c-w)*100%;
$layer-0-h: (475/$c-w)*100%;
$layer-1-w: (481/$c-w)*100%;
$layer-1-h: (265/$c-w)*100%;
$layer-2-w: (617/$c-w)*100%;
$layer-3-w: (462/$c-w)*100%;
$layer-4-w: (558/$c-w)*100%;
$layer-4-h: (417/$c-w)*100%;
$layer-5-w: (301/$c-w)*100%;
$layer-5-h: (233/$c-w)*100%;
$layer-6-w: (1003/$c-w)*100%;
$layer-6-h: (245/$c-w)*100%;

// -- positions
$layer-0-p: (360/$c-w)*100%;
$layer-1-p: (449/$c-w)*100%;
$layer-2-p: (6/$c-w)*100%;
$layer-3-p: (865/$c-w)*100%;
$layer-4-p: (539/$c-w)*100%;
$layer-5-p: (147/$c-w)*100%;
$layer-6-p: (81/$c-w)*100%;

// Main container margin
$m-c-m: (660/$c-w)*100%;