//Continer
$c-w: 1240;

//-- Colors
$red: #E70C2F;
$mutedred: #FF0000;
$gray-primary: #898989;
$gray-second: #AFAEAE;
$gray-media: #797979;

$gray-header-menu: #AEADAD;
$gray-header-icon: #C9C9C9;

$promobg: #14120F;

$black: #191919;
$black-main-menu: #181818;
$black-filter: $promobg;
$black-aside-title: #292929;
$black-footer: #282828;
$black-player: #161615;

$gray-ad-bot: #D8D8D8;

$gray-pagi: #BFBFBF;
$gray-pagi-slash: #E6E6E6;
$gray-pagi-muted: #E5E4E4;

$gray-side-bg: #F5F5F5;
$gray-side-item: #EDEDED;
$gray-side-text: #9D9C9C;

$gray-btn: #E8E7E7;
$gray-btn-text: #A2A2A2;

$gray-finish: #F3F3F3;
$gray-finish-br: $gray-pagi-slash;

$gray-stats: #8F8F8F;

$green: #69A935;

$white: #FAFAFA;

$gray-placeholder: #BFBFBF;
$gray-border: #E5E5E5;

$gray-copy: #999;

// Header 
// -- layout
$logo-w: (202/$c-w)*100%;
$logo-h: (48/174)*100%;
$logo-p: (13/$c-w)*100% (28/$c-w)*100% 0 0;

$icon-w: (72/$c-w)*100%;
$icon-h: (74/$c-w)*100%;
$icon-burger-width: (73/$c-w)*100%;

$nav-w: (748/$c-w)*100%;
$nav-p: $icon-h;
$nav-ul-p: 2px;
$nav-li-p: (36/748)*100%;

// -- icons padding
$burger-p: (3/75)*100%;
$share-p: (5/75)*100%;
$search-p: (5/75)*100%;
$profile-p: (3/75)*100%;

// Promo
// -- layout
$promo-h: (1135/$c-w)*100%;
$promo-visible-h: (475/1135)*100%;

// -- layers
$layer-0-w: (423/$c-w)*100%;
$layer-0-h: (475/$c-w)*100%;
$layer-1-w: (481/$c-w)*100%;
$layer-1-h: (265/$c-w)*100%;
$layer-2-w: (617/$c-w)*100%;
$layer-3-w: (462/$c-w)*100%;
$layer-4-w: (558/$c-w)*100%;
$layer-4-h: (417/$c-w)*100%;
$layer-5-w: (301/$c-w)*100%;
$layer-5-h: (233/$c-w)*100%;
$layer-6-w: (1003/$c-w)*100%;
$layer-6-h: (245/$c-w)*100%;

// -- positions
$layer-0-p: (360/$c-w)*100%;
$layer-1-p: (449/$c-w)*100%;
$layer-2-p: (6/$c-w)*100%;
$layer-3-p: (865/$c-w)*100%;
$layer-4-p: (539/$c-w)*100%;
$layer-5-p: (147/$c-w)*100%;
$layer-6-p: (81/$c-w)*100%;

// Main container margin
$m-c-m: (660/$c-w)*100%;

// Main navigation
$mn-item-p: (16/$c-w)*100% (30/$c-w)*100% (12/$c-w)*100%;
$mn-item-hover-p: (20/$c-w)*100% (30/$c-w)*100% (16/$c-w)*100%;
$mn-item-m: -(8/$c-w)*100% (12/$c-w)*100% 0;

// Scroller
$scroll-wrap-m: -(10/1140)*100%;
$scroll-item-p: (10/1160)*100%;

// Content
$content-w: (930/$c-w)*100%; //-100% //- 940px   
$content-p: (30/1240)*100% (20/1240)*100% 0 (30/1240)*100%;
$content-pp-w: (910/$c-w)*100%;

// Ads List & Ads
$ads-list-p: (15/880)*100%;
$ads-list-m: -(10/880)*100%;
$ads-list-item-w: 100%/3;
$ads-list-item-p: (10/900)*100%;
$ads-list-item-m: (15/900)*100% 0;

// -- Finished releases list & Ads
$fr-list-p: (15/1180)*100%;
$fr-list-m: -(10/1180)*100%;
$fr-list-item-w: 100%/4;
$fr-list-item-p: (10/1200)*100%;
$fr-list-item-m: (15/1200)*100% 0;

// Sidebar
$sb-w: (310/$c-w)*100%; //- (300/$c-w)*100% 300px
$sb-p: (27/1240)*100% 0 (20/1240)*100%;
$sb-item-p: (10/310)*100%;
$sb-pp-w: (330/$c-w)*100%;
$sb-pp-p: (27/1240)*100% (10/1240)*100% (20/1240)*100%;
$sb-pp-b-m: -(10/310)*100%;


// Finished releases
$fr-p: (40/1240)*100% (30/1240)*100% (50/1240)*100%;

// Footer
$mf-wrap-p: (30/1240)*100% 0 (30/1240)*100% (30/1240)*100%;
$ns-w: (280/1210)*100%;
$sm-w: (860/1210)*100%;
$sm-p: 0;

// Copyright
$copy-p: (15/1240)*100% (30/1240)*100%;

// Search panel
$sp-m-p: (21/1240)*100% (50/1240)*100% 0;
$sp-p: (21/1240)*100% (50/1240)*100% (1/1240)*100%;
$sp-c-list-m: (24/1140)*100%;
$fc-kw: (463/1140)*100%;
$fc-se: (110/1140)*100%;
$fc-sg: (197/1140)*100%;
$fc-sv: (165/1140)*100%;
$fc-b: (125/1140)*100%;
$fc-m: (20/1140)*100%;

// Post player
$pp-p: (25/1240)*100% (30/1240)*100%;

// Media
$md-p: (20/859)*100%;

// -- post
$md-post-m: (40/859)*100%;

// -- screenshots
$md-ss-t-p: (25/860)*100%;
$md-ss-m: -(7/860)*100%;
$md-ss-p: (7/874)*100%;
$md-ss-i-p: (92/874)*100%;
$md-ss-i-pos: (7/175)*100%;

// -- panels
$md-p-p: (20/859)*100%;
$md-p-m-l: -(20/859)*100%;
$md-p-m-r: -(10/859)*100%;