/* LAYOUT -------------*/
.container {
	width: 100%;
	min-width: 992px;
	max-width: 1260px;
	padding: 0 40px;
	margin-left: auto;
	margin-right: auto;
	@extend .clearfix;
	@media screen and(min-width: 1260px){
		padding: 0 10px;
	}
}
.main-container {
	position: relative;
	margin-top: -$m-c-m;
	background: white;
	z-index: 15;
	@extend .clearfix;
}
.content-container {
	width: 100%;
	height: 100%;
	@extend .clearfix;
}
.main-page .content-container {
	border-top: 0;
}
.content, .right-sidebar {
	float: left;
	height: 100%;
	position: relative;
}
.content {
	width: $content-w;
	padding: $content-p;
}
.post-page .content {
	width: $content-pp-w;
}
.right-sidebar {
	width: $sb-w;
	padding: $sb-p 0;
	background: $gray-side-bg;
	&:after {
		content: '';
		display: block;
		@include position(absolute, 0 0 -500px 0);
		background: $gray-side-bg;
		z-index: -1;
	}
}
.post-page .right-sidebar {
	width: $sb-pp-w;
	padding: $sb-pp-p;
}
.big-banner {
	position: relative;
	float: left;
	width: 100%;
	padding: 0 $ads-list-item-p;
	margin: (15/900)*100% 0 (25/900)*100%;
	&__item {
		height: 115px;
		background: $red;
	}
	&.bottom {
		position: absolute;
		bottom: 0;
		width: $content-pp-w;
		padding: 0 (10/1240)*100%;
		margin: 0 0 (20/1240)*100%;
	}
}
.aside-banner {
	height: 255px;
	margin-bottom: 20px;
	background: $red;
}
.post-page .aside-banner {
	margin-left: $sb-pp-b-m;
	margin-right: $sb-pp-b-m;
}
.col-l {
	position: relative;
	float: left;
	&__day {
		width: 20%;
		margin-right: 5%;
	}
	&__month {
		width: 40%;
		margin-right: 5%;
	}
	&__year {
		width: 30%;
	}
}
.col__inline {
	display: inline-block;
}
.clearfix {
	@include clearfix;
}
/* LAYOUT END -------------*/